/*Global*/
*{
	font-family: "Latolight";
}

@font-face{
	font-family: LatoHeavy;
	src: url(../fonts/LatoHeavy.ttf);
}
@font-face{
	font-family:Latolight ;
	src: url(../fonts/Latolight.ttf);
}
@font-face{
	font-family: DolceVita;
	src: url(../fonts/DolceVita.ttf);
}
@font-face{
	font-family: Neoteric-Bold;
	src: url(../fonts/Neoteric-Bold.ttf);
}

/* Shortcuts */

.pd-0{
	padding: 0;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-white{
	color: white;
}
.text-gray{
	color: rgb(83, 88, 95);
}
.text-blue{
 color: #192951;
}
.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: rgb(244, 244, 244);
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
